body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
    font-family: 'Arial', sans-serif;
}

.calculator {
            Background-color: #333;
            Padding: 20px;
            Border-radius: 10px;
            Box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            Width: 320px;
            /* Añadir la imagen de fondo */
            Background-image: url(‘argentina.jpeg’);
            Background-size: cover;
            Background-position: center;
            Background-repeat: no-repeat;
        }

#display {
    width: 100%;
    height: 50px;
    font-size: 2rem;
    background-color: #222;
    color: #fff;
    border: none;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    background-color: #555;
    border: none;
    padding: 20px;
    font-size: 1.5rem;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

Button:hover {
            Background-color: #777;
        }

        Button.numeros{
            Grid-column: span 1;
            Background-color: #424242;
        }


        Button.cero{
            Grid-column: span 3;
            Background-color: #424242;
        }
        Button:active {
            Background-color: #999;
        }
